.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  max-width: 600px;
  margin: auto;
  background-color: #ddd6fe;
}

.heading {
  padding: 2rem;
  border: 2px solid;
  border-radius: 1rem;
  margin: 1rem;
  background-color: #a78bfa;
}

.para {
  font-weight: bold;
  padding: 1.5rem;
  font-size: large;
}
